html,
body,
#__nuxt {
  min-width: 100wh;
  min-height: 100vh;
}

@media screen and (min-width: 1000px) {
  body {
    /* padding-inline: 600px; */
    padding-inline: 200px;
  }
}

::selection {
  color: var(--color-white);
  background: var(--color-tertiary-light);
}
