:root {
  /* Colors as HSL values */
  --hsl-black: 0 0% 0%;
  --hsl-white: 0 0% 100%;
  --hsl-primary: 318 73% 76%;
  --hsl-primary-light: 318 63% 82%;
  --hsl-primary-dark: 318 80% 50%;
  --hsl-secondary: 136 92% 19%;
  --hsl-secondary-light: 136 92% 30%;
  --hsl-secondary-dark: 136 92% 10%;
  --hsl-tertiary: 240 33% 15%;
  --hsl-tertiary-light: 240 33% 25%;
  --hsl-tertiary-dark: 240 33% 1%;
  --hsl-accent: 30 77% 66%;
  --hsl-accent-light: 30 77% 77%;
  --hsl-accent-dark: 30 77% 55%;
  --hsl-gray-100: 210 40% 96%;
  --hsl-gray-200: 210 40% 86%;
  --hsl-gray-300: 210 40% 76%;
  --hsl-gray-400: 210 40% 66%;
  --hsl-gray-500: 210 40% 56%;
  --hsl-gray-600: 210 40% 46%;
  --hsl-gray-700: 210 40% 36%;
  --hsl-gray-800: 210 40% 26%;
  --hsl-gray-900: 210 40% 16%;
  --hsl-background: 0 0% 96%;
  --hsl-background-dark: 0 0% 97%;
  --hsl-error-light: 355 70% 91%;
  --hsl-error-dark: 354 72% 86%;
  --hsl-error-darker: 355 61% 32%;
  --hsl-success-light: 153 31% 86%;
  --hsl-success-dark: 153 31% 79%;
  --hsl-success-darker: 152 69% 19%;

  /* Colors as HSL functions */
  --color-black: hsl(var(--hsl-black));
  --color-white: hsl(var(--hsl-white));
  --color-primary: hsl(var(--hsl-primary));
  --color-primary-light: hsl(var(--hsl-primary-light));
  --color-primary-dark: hsl(var(--hsl-primary-dark));
  --color-secondary: hsl(var(--hsl-secondary));
  --color-secondary-light: hsl(var(--hsl-secondary-light));
  --color-secondary-dark: hsl(var(--hsl-secondary-dark));
  --color-tertiary: hsl(var(--hsl-tertiary));
  --color-tertiary-light: hsl(var(--hsl-tertiary-light));
  --color-tertiary-dark: hsl(var(--hsl-tertiary-dark));
  --color-accent: hsl(var(--hsl-accent));
  --color-accent-light: hsl(var(--hsl-accent-light));
  --color-accent-dark: hsl(var(--hsl-accent-dark));
  --color-gray-100: hsl(var(--hsl-gray-100));
  --color-gray-200: hsl(var(--hsl-gray-200));
  --color-gray-300: hsl(var(--hsl-gray-300));
  --color-gray-400: hsl(var(--hsl-gray-400));
  --color-gray-500: hsl(var(--hsl-gray-500));
  --color-gray-600: hsl(var(--hsl-gray-600));
  --color-gray-700: hsl(var(--hsl-gray-700));
  --color-gray-800: hsl(var(--hsl-gray-800));
  --color-gray-900: hsl(var(--hsl-gray-900));
  --color-background: hsl(var(--hsl-background));
  --color-background-dark: hsl(var(--hsl-background-dark));
  --color-error-light: hsl(var(--hsl-error-light));
  --color-error-dark: hsl(var(--hsl-error-dark));
  --color-error-darker: hsl(var(--hsl-error-darker));
  --color-success-light: hsl(var(--hsl-success-light));
  --color-success-dark: hsl(var(--hsl-success-dark));
  --color-success-darker: hsl(var(--hsl-success-darker));
}
