$font-weight-extra-bold: 900;
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-size-xs: 0.75rem;
$font-size-sm: 0.85rem;
$font-size-base: 1rem;
$font-size-md: $font-size-base;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 1.75rem;
$font-size-xxxl: 2rem;

@font-face {
  font-weight: $font-weight-regular;
  font-family: 'PT Sans';
  font-style: normal;
  src: local('PT Sans Regular'),
    url('./PT_Sans/PTSans-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: $font-weight-bold;
  font-family: 'PT Sans';
  font-style: normal;
  src: local('PT Sans Bold'), url('./PT_Sans/PTSans-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: $font-weight-regular;
  font-family: 'PT Sans';
  font-style: italic;
  src: local('PT Sans Italic'),
    url('./PT_Sans/PTSans-Italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: $font-weight-bold;
  font-family: 'PT Sans';
  font-style: italic;
  src: local('PT Sans Bold Italic'),
    url('./PT_Sans/PTSans-BoldItalic.woff2') format('woff2');
  font-display: swap;
}

$font-family: 'PT Sans', Verdana, Arial, sans-serif;
$font-family-base: $font-family;
$font-family-title: $font-family-base;
