.menu {
  display: flex;
  flex-direction: column;
  padding-inline: 10px;
}

.menu__category {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
}

.menu__product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu__price {
  margin-inline-start: auto;
}

.category {
  // empty rule
}

.category__name {
  padding-block-end: 10px;
  font-size: 3em;
  font-variant: small-caps;
  letter-spacing: 2px;
}

.product__name {
  font-variant: small-caps;
}

.product__description {
  min-width: 100%;
  font-style: italic;
  font-weight: 100;
}

.product__dots {
  border-bottom: 1px dotted var(--color-black);
  flex-grow: 1;
  align-self: center;
  margin-inline: 20px;
}